@use 'config' as c;

.art01{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 2rem;
  @media only screen and (min-width:c.$tablet){
      row-gap: 3rem;
  }
  @media only screen and (min-width:c.$desktop){
      row-gap: 4rem;
  }
  >:nth-child(1){
    width: 100%;
    text-align: left;
    @media only screen and (min-width:c.$desktop){
        text-align: center;
        width: auto;
    }
  }
  img{
    width: 100%;
    height: 50dvh;
    object-fit: cover;
    object-position: center;
    background-color: white;
  }
  p{
    width: 100%;
    @media only screen and (min-width:c.$tablet){
      width: 80%;
    }
    @media only screen and (min-width:c.$desktop){
      width: 70%;
    }
  }
}