@use 'config' as c;

.art02{
    // cómo es
    width: 100%;
    padding: c.$padMin;
    // background-color: c.$color02;
    // como organiza a sus hijos
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 2rem;
    @media only screen and (min-width:c.$tablet){
        row-gap: 3rem;
    }
    @media only screen and (min-width:c.$desktop){
        width: 80%;
    }

    >div{
        // cómo es
        width: 100%;
        // cómo organiza a los hijos
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 5rem;
        @media only screen and (min-width:c.$tablet){
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            column-gap: 3rem;
        }
        @media only screen and (min-width:c.$desktop){
            column-gap: 5rem;
        }

        .contenedor-lista{            
            background-color: aquamarine;
            width: 100%;
            border-radius: 10px;
            padding: 1rem;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            row-gap: 1.5rem;
            @media only screen and (min-width:c.$tablet){
                border-radius: 15px;
                padding: 2rem;
            }
            ul{
                list-style: none;
                display: flex;
                flex-direction: column;
                row-gap: 1rem;
                li{
                    display: flex;
                    flex-direction: row;
                    column-gap: 1rem;
                    img{
                        width: 30px;
                    }
                }
            }

        }
    }
}