@use 'config' as c;

.moduleLoader01{
    display: none;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    object-fit: contain;
    filter: c.$color02svg
}